Repository slodawn/4dpocket-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: add husky
  .husky/pre-commit
  package.json
Due: prettier --write

feat: add router and pinia
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/components/HelloWorld.vue
  src/main.ts
  src/router/index.ts
  src/store/index.ts
  src/store/modules/counter.ts
  src/views/Home.vue
  tsconfig.app.json
  vite.config.ts
Due: eslint --fix, prettier --write

feat: add axios and env
  .env
  .env.development
  .env.production
  README.md
  src/api/index.ts
  src/api/user.ts
  src/store/modules/user.ts
  src/types/env.d.ts
  src/utils/request.ts
Due: eslint --fix, prettier --write

feat: add storage
  eslint.config.js
  src/hooks/useStorage.ts
  src/router/index.ts
  src/store/modules/app.ts
  src/utils/storage.ts
  src/views/Home.vue
  src/views/StorageDemo.vue
Due: eslint --fix

feat: add styles
  src/main.ts
  src/style.css
  src/styles/common.scss
  src/styles/index.scss
  src/styles/reset.scss
  src/styles/variables.scss
  src/views/Home.vue
  src/views/StorageDemo.vue
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write: any of: *.{json,md,yml,yaml,css,scss}
